{% if error_warning %}
<div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if shipping_methods %}
<p>{{ text_shipping_method }}</p>
  {% for key, shipping_method in shipping_methods %}
    {% if methods_mapping[key] == 'omnivalt' %}
      <script>
        var omniva_country = '{{ omniva_country }}';
        var omniva_terminals = {{ omniva_locations|json_encode() }};
      </script>
      <script>
        $(document).ready(function () {
          var omnivaModuleReady = false;
          var omniva_map_translation = {{ omniva_map_translation|json_encode() }};
          $(document).on('click', 'input[type="radio"][name="shipping_method"]', function (e) {
            if ($(this).val().includes('fake.parcel') && !omnivaModuleReady) {
              omnivaModuleReady = $(this).omniva({
                country_code: omniva_country,
                path_to_img: 'image/catalog/omniva/',
                callback: function (id) {
                  omnivaModuleReady.val('omnivalt.parcel_terminal_' + id);
                },
                translate: omniva_map_translation,
                terminals: omniva_terminals,
              });
              omnivaModuleReady.trigger('omniva.show');
              // with default template this should be enough even if user changes postcode (as he needs to press continue button)
              var sameShipping = $('input[name="shipping_address"]');
              if (sameShipping.length > 0 && sameShipping.is(':checked')) {
                omnivaModuleReady.trigger('omniva.postcode', [$('#input-payment-postcode').val()]);
              } else {
                omnivaModuleReady.trigger('omniva.postcode', [$('#input-shipping-postcode').val()]);
              }
            } else {
              if (omnivaModuleReady) {
                if ($(this).is(omnivaModuleReady)) {
                  omnivaModuleReady.trigger('omniva.show');
                } else {
                  omnivaModuleReady.trigger('omniva.hide');
                }
              }
            }
          });
          
          $('input[type="radio"][name="shipping_method"]:checked').click();
          
          $('#button-shipping-method').on('click', function (e) {
            var $selectedOption = $('input[type="radio"][name="shipping_method"]:checked');
            if ($($selectedOption).val().includes('fake.parcel')) {
              e.preventDefault();
              e.stopPropagation();
              alert(omniva_map_translation.terminal_not_selected);
            }
          });
        });
      </script>
    {% endif %}
    <p><strong>{{ shipping_method.title }}</strong></p>
    {% if not shipping_method.error %}
{% for quote in shipping_method.quote if not (quote.code starts with 'omnivalt.parcel') %}
<div class="radio">
  <label> {% if quote.code == code or not code %}
    {% set code = quote.code %}
    <input type="radio" name="shipping_method" value="{{ quote.code }}" checked="checked" />
    {% else %}
    <input type="radio" name="shipping_method" value="{{ quote.code }}" />
    {% endif %}
    {{ quote.title }} - {{ quote.text }}</label>
</div>
{% endfor %}
{% else %}
<div class="alert alert-danger alert-dismissible">{{ shipping_method.error }}</div>
{% endif %}
{% endfor %}
{% endif %}
<p><strong>{{ text_comments }}</strong></p>
<p>
  <textarea name="comment" rows="8" class="form-control">{{ comment }}</textarea>
</p>
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_continue }}" id="button-shipping-method" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>