{{ header}}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-omnivalt" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
          <i class="fa fa-save"></i>
        </button>
        <a onclick="$('#save-exit').val('1');$('#form-omnivalt').submit();" data-toggle="tooltip" title="{{ button_save_exit }}" class="btn btn-warning">
          <i class="fa fa-save"></i>
        </a>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-danger">
          <i class="fa fa-reply"></i>
        </a>
        <a onclick="$('#download').val('1');$('#form-omnivalt').submit();" class="btn btn-default" data-toggle="tooltip" title="{{ button_update_terminals }}">{{ button_update_terminals }}</a>
      </div>
      <h1>{{ heading_title }}</h1><span>v{{ version }}</span>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li>
            <a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if settings_saved %}
      <div class="alert alert-success">
        <i class="fa fa-exclamation-circle"></i>
        {{ settings_saved }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if errors_found %}
      <div class="alert alert-danger">
        <i class="fa fa-exclamation-circle"></i>
        {{ errors_found }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if error_warning %}
      <div class="alert alert-danger">
        <i class="fa fa-exclamation-circle"></i>
        {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if terminal_update %}
      {% if terminal_update.failed %}
        <div class="alert alert-danger">
          <i class="fa fa-exclamation-circle"></i>
          {{ terminal_update.failed }}
        {% else %}
          <div class="alert alert-success">
            <i class="fa fa-exclamation-circle"></i>
            {{ terminal_update.success }}
          {% endif %}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      {% endif %}

      <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-omnivalt" class="form-horizontal">
        <input type="hidden" id="download" name="download" value="0"/>
        <input
        type="hidden" id="save-exit" name="save_exit" value="0"/>

        {# Extension Controls #}
        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
          <div class="col-sm-10">
            <select name="shipping_omnivalt_status" id="input-status" class="form-control">
              {% if shipping_omnivalt_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
              {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
              {% endif %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
          <div class="col-sm-10">
            <input type="text" name="shipping_omnivalt_sort_order" value="{{ shipping_omnivalt_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
          </div>
        </div>
        {# END Extension Controls #}

        <div id="settings-panel" class="collapse{% if shipping_omnivalt_status %}.show{% endif %}">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <i class="fa fa-pencil"></i>
                {{ text_edit }}</h3>
            </div>
            <div
              class="panel-body">
              {# Omniva Webservice #}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    {{ webservice_header }}</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-omniva-url">{{ entry_url }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="shipping_omnivalt_url" value="{{ shipping_omnivalt_url }}" placeholder="{{ entry_url }}" id="input-omniva-url" class="form-control"/>
                      {% if error_url %}
                        <div class="text-danger">{{ error_url }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-omniva-user">{{ entry_user }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="shipping_omnivalt_user" value="{{ shipping_omnivalt_user }}" placeholder="{{ entry_user }}" id="input-omniva-user" class="form-control"/>
                      {% if error_user %}
                        <div class="text-danger">{{ error_user }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-omniva-password">{{ entry_password }}</label>
                    <div class="col-sm-10">
                      <input type="password" name="shipping_omnivalt_password" value="{{ shipping_omnivalt_password }}" placeholder="{{ entry_password }}" id="input-omniva-password" class="form-control"/>
                      {% if error_password %}
                        <div class="text-danger">{{ error_password }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {# END Omniva Webservice #}

              {# Sender Details #}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    {{ sender_header }}</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-sender-name">{{ entry_sender_name }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="shipping_omnivalt_sender_name" value="{{ shipping_omnivalt_sender_name }}" placeholder="{{ entry_sender_name }}" id="input-sender-name" class="form-control"/>
                      {% if error_sender_name %}
                        <div class="text-danger">{{ error_sender_name }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-sender-address">{{ entry_sender_address }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="shipping_omnivalt_sender_address" value="{{ shipping_omnivalt_sender_address }}" placeholder="{{ entry_sender_address }}" id="input-sender-address" class="form-control"/>
                      {% if error_sender_address %}
                        <div class="text-danger">{{ error_sender_address }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-sender-postcode">{{ entry_sender_postcode }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="shipping_omnivalt_sender_postcode" value="{{ shipping_omnivalt_sender_postcode }}" placeholder="{{ entry_sender_postcode }}" id="input-sender-postcode" class="form-control"/>
                      {% if error_sender_postcode %}
                        <div class="text-danger">{{ error_sender_postcode }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-sender-city">{{ entry_sender_city }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="shipping_omnivalt_sender_city" value="{{ shipping_omnivalt_sender_city }}" placeholder="{{ entry_sender_city }}" id="input-sender-city" class="form-control"/>
                      {% if error_sender_city %}
                        <div class="text-danger">{{ error_sender_city }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-sender-country-code">{{ entry_sender_country_code }}</label>
                    <div class="col-sm-10">
                      <select name="shipping_omnivalt_sender_country_code" value="{{ shipping_omnivalt_sender_country_code }}" id="input-sender-country-code" class="form-control">
                        <option value="LT" {% if shipping_omnivalt_sender_country_code == 'LT' %} selected {% endif %}>{{ option_lt }}</option>
                        <option value="LV" {% if shipping_omnivalt_sender_country_code == 'LV' %} selected {% endif %}>{{ option_lv }}</option>
                        <option value="EE" {% if shipping_omnivalt_sender_country_code == 'EE' %} selected {% endif %}>{{ option_ee }}</option>
                      </select>
                      {% if error_sender_country_code %}
                        <div class="text-danger">{{ error_sender_country_code }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-sender-phone">{{ entry_sender_phone }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="shipping_omnivalt_sender_phone" value="{{ shipping_omnivalt_sender_phone }}" placeholder="{{ entry_sender_phone }}" id="input-sender-phone" class="form-control"/>
                      {% if error_sender_phone %}
                        <div class="text-danger">{{ error_sender_phone }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {# END Sender Details #}

              {# Services #}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    {{ services_header }}</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{ entry_service }}</label>
                    <div class="col-sm-10">
                      <div class="well well-sm" style="margin-bottom:0; padding-top:0; padding-bottom:0">
                        {% for service in services %}
                          <div class="checkbox-inline">
                            <label>
                              {%  if service['value'] in shipping_omnivalt_service %}
                                <input type="checkbox" name="shipping_omnivalt_service[]" value="{{ service['value'] }}" checked="checked"/>
                                {{ service['text'] }}
                              {% else %}
                                <input type="checkbox" name="shipping_omnivalt_service[]" value="{{ service['value'] }}"/>
                                {{ service['text'] }}
                              {% endif %}
                            </label>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {# END Services #}

              {# Prices #}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    {{ prices_header }}</h3>
                </div>
                <div class="panel-body">
                  {# <div class="form-group">
                    <label class="col-sm-2 control-label">Enabled countries</label>
                    <div class="col-sm-10">
                      <div class="well well-sm" style="margin-bottom:0; padding-top:0; padding-bottom:0">
                        {% for country in countries %}
                          <div class="checkbox-inline">
                            <label>
                              <input type="checkbox" id="omniva-country-{{country.code}}" name="shipping_omnivalt_countries[]" value="{{country.code}}">
                              {{country.text}}
                            </label>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div> #}
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-parcel-terminal-price">{{ entry_parcel_terminal_price }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="shipping_omnivalt_parcel_terminal_price" value="{{ shipping_omnivalt_parcel_terminal_price }}" placeholder="{{ entry_parcel_terminal_price }}" id="input-parcel-terminal-price" class="form-control"/>
                      {% if error_parcel_terminal_price %}
                        <div class="text-danger">{{ error_parcel_terminal_price }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-courier-price">{{ entry_courier_price }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="shipping_omnivalt_courier_price" value="{{ shipping_omnivalt_courier_price }}" placeholder="{{ entry_courier_price }}" id="input-courier-price" class="form-control"/>
                      {% if error_courier_price %}
                        <div class="text-danger">{{ error_courier_price }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <!-- additional pricing EE, LV -->
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-parcel-terminal-pricelv">LV
                      {{ entry_parcel_terminal_price }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="shipping_omnivalt_parcel_terminal_pricelv" value="{{ shipping_omnivalt_parcel_terminal_pricelv }}" placeholder="{{ entry_parcel_terminal_price }}" id="input-parcel-terminal-pricelv" class="form-control"/>
                      {% if error_parcel_terminal_pricelv %}
                        <div class="text-danger">{{ error_parcel_terminal_pricelv }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-courier-pricelv">LV
                      {{ entry_courier_price }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="shipping_omnivalt_courier_pricelv" value="{{ shipping_omnivalt_courier_pricelv }}" placeholder="{{ entry_courier_price }}" id="input-courier-pricelv" class="form-control"/>
                      {% if error_courier_pricelv %}
                        <div class="text-danger">{{ error_courier_pricelv }}</div>
                      {% endif %}
                    </div>
                  </div>

                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-parcel-terminal-priceee">EE
                      {{ entry_parcel_terminal_price }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="shipping_omnivalt_parcel_terminal_priceee" value="{{ shipping_omnivalt_parcel_terminal_priceee }}" placeholder="{{ entry_parcel_terminal_price }}" id="input-parcel-terminal-priceee" class="form-control"/>
                      {% if error_parcel_terminal_priceee %}
                        <div class="text-danger">{{ error_parcel_terminal_priceee }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-courier-priceee">EE
                      {{ entry_courier_price }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="shipping_omnivalt_courier_priceee" value="{{ shipping_omnivalt_courier_priceee }}" placeholder="{{ entry_courier_price }}" id="input-courier-priceee" class="form-control"/>
                      {% if error_courier_priceee %}
                        <div class="text-danger">{{ error_courier_priceee }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <!--/ Additional pricing -->
                </div>
              </div>
              {# END Prices #}

              {# COD #}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    {{ cod_header }}</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-cod">{{ entry_cod }}</label>
                    <div class="col-sm-10">
                      <select name="shipping_omnivalt_cod" id="input-cod" class="form-control">
                        {% if shipping_omnivalt_cod %}
                          <option value="1" selected="selected">{{ text_enabled }}</option>
                          <option value="0">{{ text_disabled }}</option>
                        {% else %}
                          <option value="1">{{ text_enabled }}</option>
                          <option value="0" selected="selected">{{ text_disabled }}</option>
                        {% endif %}
                      </select>
                    </div>
                  </div>
                  <div id="cod-settings" class="collapse{% if shipping_omnivalt_cod %}.show{% endif %}">
                    <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-company">{{ entry_company }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="shipping_omnivalt_company" value="{{ shipping_omnivalt_company }}" placeholder="{{ entry_company }}" id="input-company" class="form-control"/>
                        {% if error_company %}
                          <div class="text-danger">{{ error_company }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-bankaccount">{{ entry_bankaccount }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="shipping_omnivalt_bankaccount" value="{{ shipping_omnivalt_bankaccount }}" placeholder="{{ entry_bankaccount }}" id="input-bankaccount" class="form-control"/>
                        {% if error_bankaccount %}
                          <div class="text-danger">{{ error_bankaccount }}</div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {# END COD #}

              {# Pickup #}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    {{ pickup_header }}</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-pickup-type">{{ entry_pickup_type }}</label>
                    <div class="col-sm-10">
                      <select name="shipping_omnivalt_pickup_type" id="input-pickup-type" class="form-control">
                        {% if shipping_omnivalt_pickup_type == 'parcel_terminal' %}
                          <option value="parcel_terminal" selected="selected">{{ text_parcel_terminal }}</option>
                        {% else %}
                          <option value="parcel_terminal">{{ text_parcel_terminal }}</option>
                        {% endif %}
                        {% if shipping_omnivalt_pickup_type == 'courier' %}
                          <option value="courier" selected="selected">{{ text_courier }}</option>
                        {% else %}
                          <option value="courier">{{ text_courier }}</option>
                        {% endif %}
                        {% if shipping_omnivalt_pickup_type == 'sorting_center' %}
                          <option value="sorting_center" selected="selected">{{ text_sorting_center }}</option>
                        {% else %}
                          <option value="sorting_center">{{ text_sorting_center }}</option>
                        {% endif %}
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-pickupstart">{{ entry_pickupstart }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="shipping_omnivalt_pickupstart" value="{{ shipping_omnivalt_pickupstart }}" placeholder="{{ entry_pickupstart }}" id="input-pickupstart" class="form-control"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-pickupfinish">{{ entry_pickupfinish }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="shipping_omnivalt_pickupfinish" value="{{ shipping_omnivalt_pickupfinish }}" placeholder="{{ entry_pickupfinish }}" id="input-pickupfinish" class="form-control"/>
                    </div>
                  </div>
                </div>
              </div>
              {# END Pickup #}

              {# Terminals #}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    {{ terminals_header }}</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="terminals-count">{{ entry_terminals }}</label>
                    <div class="col-sm-10" id="terminals-count">
                      <p class="form-control-static">{{ terminal_count }}</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="cron-url">{{ cron_url }}</label>
                    <div class="col-sm-10" id="cron-url">
                      <p class="form-control-static">
                        <a href="{{ cron_link }}" target="_blank"/>{{ cron_link }}</p>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          {# END Terminals #}
        </div>
      </div>
    </div>
  </form>
</div></div>{{ footer }}
